
@{
    ViewBag.Title = "Авторизация";
}

<h2>Регистрация прошла успешно, вы авторизованы!</h2>
<div class="jumbotron">
    <p><a href="http://localhost:57726/main/mp" class="btn btn-primary btn-lg">Перейти в главное меню &raquo;</a></p>
    <p><a href="http://localhost:57726/Post/ProsmotrKV" class="btn btn-primary btn-lg">Посмотреть список объявлений &raquo;</a></p>
</div>


