@{
    ViewBag.Title = "Главная";
}




<div class="jumbotron">
    <h1>Добро пожаловать, челчик!</h1>
    <p class="lead">Не грех процитировать умную мысль, даже если она принадлежит тебе.</p>
    <p><a href="http://localhost:57726/main/profil" class="btn btn-primary btn-lg">Посмотреть свой профиль &raquo;</a></p>
</div>



<html>
<body>
    <img src="http://www.bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg" alt="котик" , width="100">
</body>
</html>

<style>
    #video1 {
        position: absolute;
        margin-right: 110px;
        padding-right: 75%;
    }

        #video1 iframe {
            position: center;
            width: 90%;
            height: 90%;
        }

        #video1 div {
            position: absolute;
            bottom: -110px;
            width: 100%;
            height: 100px;
            padding: 0;
            overflow-x: auto;
            white-space: nowrap;
            text-align: center;
        }
</style>

<div id="video1">
    <iframe src="https://www.youtube.com/watch?v=KLLZ-sRl79M" allowfullscreen="" frameborder="0"></iframe>
</div>
