
@{
    ViewBag.Title = "Exit";
}

<h2>Выход совершён успешно</h2>

<div class="jumbotron">
    <p><a href="http://localhost:57726/main/profil" class="btn btn-primary btn-lg">Вернуться на сайт &raquo;</a></p>
</div>
